# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Logs, outputs
*.log
logs/
tensorboard/

# Datasets & model weights
data/raw/
data/processed/
experiments/**/checkpoints/
experiments/**/samples/

# System files
.DS_Store
*.swp
